.row:after {
  display: table;
  clear: both;
  content: '';
}

 .row{
  width:60%;
  margin:0 auto;
}

 .item {
  padding: 10px;
  float: left;
  margin:0 auto;
  width:33%;
}


.item :hover {
  transition: all .3s ease;
  transform: scale(1.05);
  /*0.3秒后  变大1.1倍*/
  background-color: rgba(255, 255, 255, 0.4);
  /*背景色是有透明度的白色*/
  box-shadow:0 0 20px #6d6d6d;
}


.item .inner {
   background-color: #000;
   width:100%;
   margin:0 auto;
}

@media all and (max-width: 1200px) {
  .item {
    width: 50%;
  }

  .row{
    width:80%;
    margin:0 auto;
  }


}

@media all and (max-width: 560px) {
  .item {
    width: 50%;
  }

  .row{
    width:90%;
  }
}


@media all and (max-width: 480px) {
  .item {
    width: 100%;
  }
  .row{
    width:100%;
  }
}
